version: "3.8"

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: drone
      POSTGRES_PASSWORD: drone
      POSTGRES_DB: drone
    volumes:
      - drone_pgdata:/var/lib/postgresql/data
  nats:
    image: nats:2.10
    restart: unless-stopped
    ports:
      - "4222:4222"

volumes:
  drone_pgdata:
